<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12  text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 text-left">
                <img src="/assets/img/profile.png" width="100%">
            </div>
            <div class="col-6 text-left">
                <p style="text-align: left">
                    Hi! My name is Luca, I am 25 years old, and I am currently studying Game Programming at Breda University of Applied Sciences(BUAS former NHTV). Born and raised in Italy, after one year of Computer Engineering at Politecnico of Milan, I decided to move
                    to the Netherlands to focus on game programming and start the course of International Game Architecture and Design(IGAD).
                </p>
                <p style="text-align: left">
                    After starting my study as videogames programmer, I found myself in love with the concept of procedural generation. From there, I started focusing mostly on procedural generation and the creation of tools for controlling it. Only recenty I started working
                    on a project based on Deep Learning.
                </p>
                <p style="text-align: left">
                    During my study, I had the chance to work in teams of various size, covering multiple roles in them. This helped me understand the importance of teamwork, especially in game development, where so many specializations come together to the creation of something.
                </p>
                <p style="text-align: left">
                    This is my 4th, and last, year(2019-2020) of university, therefore I am looking for an internship beginning in February 2020.
                </p>
            </div>

        </div>

    </div>
</section>