<header id="webglHeader" style="padding-top: 65px;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Luca Quartesan</h1>
            <h2>Procedural, Tool and Game Programmer</h2>
            <hr>
            <p>Hi! I am Luca, a Video Games programming student.</p>
            <p>Procedural Generation, Tool development and Deep Learning are my strong suits.</p>
            <p>I am looking for an intership starting February 2020.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact</a>
        </div>
    </div>
</header>