<header id="webglHeader">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Luca Quartesan</h1>
            <h2>Procedural, Tool and Game Programmer</h2>
            <hr>
            <p>Hi! I am Luca, a Game Architecture and Design student.</p>
            <p>Procedural Generation, Tool development, Graphics and AI passionate. </p>
            <p>I'm looking for an intership starting September 2019.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact</a>
        </div>
    </div>
</header>