
<section  id="projects">
       
    <div class="container-fluid">
            <p></p>
            <h2 >Projects</h2>
            
            <hr>
            
            
        <div class="row justify-content-center">
            {% for post in site.categories.projects %}
                <div class="col-lg-{{post.col-width}} col-md-8 padded-skills" >
                    <a href="{{post.url}}">
                        <div class="portfolio-box" style="background-image:url('/assets/img/portfolio/{{post.img}}');">
                            <div class="portfolio-box-caption" >
                                <div class="portfolio-box-caption-content" >
                                    <div class="project-category text-faded">
                                            {% if post.categories[1] %} 
                                                {{post.categories[1]}}
                                            {% else %}
                                                Category Missing
                                            {% endif %}
                                    </div>
                                    <div class="project-name">
                                        {{ post.title }}
                                    </div>
                                    <div class="project-subtitle">
                                        {{ post.subtitle }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>  
    </div>
</section>
