<section id="project-body">
        
  
    
    <div class="container project-box" >
        
           
        <p></p>
        <!-- BreakDown-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="breakdown">Breakdown</h2>
                <hr class="primary">
            </div>
        </div>
     
        <div class="row ">
                
            {% for header in page.project-header %}
                <div class="col-xl-3 col-lg-6 col-sm-6 align-self-center">
                   

                    <div class="proj-header-container">
                        <div class="row">
                            <div class="col">
                                <div class="header-title">{{header.title}}</div>

                            </div>
                            <div class="col text-center">
                                <div class="header-icon">
                                    <i class="fa {{header.icon}} fa-lg wow bounceIn" data-wow-delay=".1s"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="header-content">
                               
                                <ul>
                                    {% for content in header.content %}
                                    <li>{{content}}</li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    
    
                    <p></p>
                </div>
                
                {% endfor %}
                <!-- Header End-->
            
        </div>
        <div class="col-md-12 text-">
                <h2 class="section-heading" id="about">About</h2>
                <hr class="primary">
                
        </div>
        
        <div class="col-md-12">
            <!-- Body -->
            
            <p>{{ content }}</p>
    </div>
        
    </div>
</section>