
<section id="skills" class="no-padding">

    <h2 class="section-heading">Skills</h2>
    <hr class="primary">
    <div class="container skills-box">
        <div class="row justify-content-center">

            <div class="col-xl-5 col-md-8 col-10 padded-skills ">
                <div class="skill-box">
                    <div class="skill-container">
                        <div class="header-title">
                            Languages 
                            <i class="fa fa-code fa-md wow bounceIn" data-wow-delay=".1s"></i>
                        </div>
                        <p></p>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <img src="/assets/img/skills/cpp_logo.png" height="96" >
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/csharp_logo.png" height="96">
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/HTML5_logo.png" height="96" >
                                
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <img src="/assets/img/skills/js.png" height="96" >
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/phyton.png" height="96" >
                                
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <img src="/assets/img/skills/processing.png" height="96" >
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

                

            <div class="col-xl-5 col-md-8 col-10 padded-skills">
                <div class="skill-box">
                    <div class="skill-container">
                        <div class="header-title">
                                APIs & Libraries
                                <i class="fa fa-book-open fa-md wow bounceIn" data-wow-delay=".1s"></i>
                        </div>
                        <p></p>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <img src="/assets/img/skills/qt_logo.png" height="96" >
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/OpenGL_logo.png" height="96" >
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/WebGL_logo.png" height="96">
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/Nvidia_physx.png" height="96" >
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-8 col-12 padded-skills">
                <div class="skill-box">
                    <div class="skill-container">
                        <div class="header-title">
                                Game Engines
                                <i class="fa fa-cogs fa-md wow bounceIn" data-wow-delay=".1s"></i>
                        </div>
                        <p></p>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                    <img src="/assets/img/skills/UE_logo.png" height="96" >
                                    
                                
                            </div>
                            <div class="col-auto">
                                    <img src="/assets/img/skills/unity-logo.png" height="96">
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
           

            <div class="col-xl-4 col-md-8 col-12 padded-skills">
                <div class="skill-box">
                    <div class="skill-container">
                        <div class="header-title">
                                Project Management
                                <i class="fa fa-tasks fa-md wow bounceIn" data-wow-delay=".1s"></i>
                        </div>
                        <p></p>
                        <div class="row justify-content-center">

                            <div class="col-auto">
                                <img src="/assets/img/skills/trello-logo.png" height="96" >
                                
                            </div>
                            <div class="col-auto">
                                <img src="/assets/img/skills/Jira.png" height="96">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
            
    </div>
</section>
