<p></p>
<section id="skills">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
    <div class="container-fluid">
        <div class="row justify-content-md-center">

            <div class="col-lg-3 padded-skills">
                <div class="skill-container">
                    <div class="header-title">Tool Developer</div>
                    <div class="header-content"> Qt / ImGui / Html / WebGL</div>
                </div>
            </div>
           
            <div class="col-lg-3 padded-skills">
                <div class="skill-container">
                    <div class="header-title">Game Developer</div>
                    <div class="header-content">Unreal / Unity / Houdini / OpenGL</div>
                </div>
            </div>
            <div class="col-lg-3 padded-skills">
                <div class="skill-container">
                    <div class="header-title">Project Management</div>
                    <div class="header-content"> Scrum / Trello / Jira </div>
                </div>
            </div>
            
        </div>
        
        
    </div>
</section>
    