---
---

@charset "utf-8";
// variables.less
$theme-primary: white;
$theme-dark: black;
$theme-text-primary: black;
$theme-text-dark: white;
$theme-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "main"
;